NEXT_PUBLIC_SSO_ISSUER=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SSO_JWT_SECRET=
SSO_JWT_KEY_ID=
SSO_JWT_PRIVATE_KEY=
SSO_JWT_PUBLIC_KEY=

MAILTRAP_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

MAIL_AUTH_KEY=